@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.anim-heart-right{
  animation: heart-right 1s ease-in-out forwards ;
}

@keyframes heart-right {
  0%{
    transform: scale(.2) rotate(30deg);
  }
  50%{
    transform: scale(1) rotate(0deg);
  }
  100%{
    transform: translateY(-1000px);
  }
}

.gradient-status{
  background-image: linear-gradient(to right top, #ffcb1c, #ffb319, #ff9b21, #ff822d, #ff6938, #ff5445, #ff3c54, #ff1c64, #fd007a, #f60092, #e800ab, #d300c5);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.active-status::before{
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background: white;
  animation:active-status-anim  10s infinite ease-in forwards;
}

@keyframes active-status-anim {
  0%{
    right: 100%;
  }
  100%{
    right: 0px;
  }
}